h1 {
  color: red;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

section * {
  margin: 20px;
}

li:hover {
  cursor: pointer;
}

#exercise2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
}

#exercise2 *{
  margin: 10px;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
}